NEXT_PUBLIC_SUPABASE_URL=https://ssbnuzsumgsmnignbxex.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzYm51enN1bWdzbW5pZ25ieGV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4MDU3NDksImV4cCI6MjA5NDM4MTc0OX0.VGOg7QK3b5fVMz4WK6tXgFuicqxVu2lbz2Tl5t7e1_M
